.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #30343d;
  color: white;
}

.chat_body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.chat_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  border-bottom: 2px solid rgb(243, 243, 243);
}

.chat_header h2 {
  flex-grow: 3;
  padding: 10px;
  font-size: 3vh;
  font-weight: bold;
}
.chat_header span {
  font-size: 3vh;
  font-weight: 500;
}

.chat_header i {
  cursor: pointer;
}

.chat_end {
  margin: 10px;
}

@media screen and (min-width: 500px) {
  .chat_info {
    display: flex;
    flex-direction: column;
    width: 45vh;
    height: 100%;
    z-index: 2;
    border-right: 5px solid rgb(243, 243, 243);
    color: rgb(197, 195, 195);
    padding: 5px;
    display: none;
  }

  .chat_info.on {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .chat_info {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 45vh;
    height: 100%;
    z-index: 2;
    left: -400px;
    transition: 0.5s ease-in-out;
    border-right: 5px solid rgb(243, 243, 243);
    color: rgb(197, 195, 195);
    padding: 5px;
    background-color: #30343d;
    opacity: 0.9;
  }

  .chat_info.on {
    left: 0px;
  }
}

.chat_info_footer {
  height: 18vh;
}

.chat_info_footer h3 {
  margin-left: 10px;
  font-size: 2.2vh;
  font-weight: bold;
}

.chat_info_footer div {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 1.8vh;
  font-weight: bold;
  margin-top: 30px;
}

.chat_info_footer_copy {
  margin-left: 5px;
  cursor: pointer;
}

.chat_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
}

.chat_box_body {
  width: 80%;
  height: 80vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 500px) {
  .chat_box_body {
    width: 95%;
    height: 80vh;
    overflow: scroll;
  }
}

.chat_box_input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}

.chat_box_input input {
  width: 80%;
  height: 5vh;
  font-size: 2vh;
  border: 1px solid #30343d;
  border-radius: 10px;
  padding-left: 10px;
}

.chat_box_input img {
  width: 35px;
  margin-left: 5px;
  cursor: pointer;
}
