.wrapper {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}

.create_room {
  background-color: rgb(56, 172, 250);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.enter_room {
  background-color: rgb(19, 121, 116);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
